{% extends 'base.html' %}
{% block content %}

    <h1>Starships</h1>

    {% for starship in starships %}
        <div class="card">
            <a href="{% url 'detail' starship.id %}">
                <div class="card-content #bdbdbd grey lighten-1">
                    <span class="card-title ">{{ starship.name }}</span>
                    <p>Registration: {{ starship.registration }}</p>
                    <p>Class: {{ starship.ship_class }}</p>
                    <p>Captain: {{ starship.captain }}</p>
                  
                </div>
            </a>
        </div>
    {% endfor %}


{% endblock %}